spring:
  application:
    name: chat

  cache:
    type: redis

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379

  datasource:
    url: ${DB_URL}
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: chat_app

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KC_HOST}/realms/${KC_REALM_NAME}

server:
  port: 8000